<div class="w3-container w3-black">
    <div class="site-container">
        <div class = "w3-row" style="margin-left: 45px; margin-top: 1.5em; margin-bottom: 1.5em">
            <div class="w3-col m6 w3-left-align w3-left">
                <p style="margin-bottom: 0; font-weight: 300; font-size: 1.1em; font-family: 'Roboto', sans-serif;">© 2021 Alex Xu</p>
                <p style="margin-top: 0; font-weight: 300; font-size: 1.1em; font-family: 'Roboto', sans-serif;">Updated 9/2021</p>
            </div>


            <div class="w3-col m1 w3-right-align w3-right">
                <p style="margin-bottom: 0; font-weight: 300; font-size: 1.1em; font-family: 'Roboto', sans-serif;"><a href="about">About</a></p>
                <p style="margin-top: 0; font-weight: 300; font-size: 1.1em; font-family: 'Roboto', sans-serif;"><a href="cv">CV</a></p>
            </div>

            <div class="w3-col m1 w3-right-align w3-right">
                <p style="margin-bottom: 0; font-weight: 300; font-size: 1.1em; font-family: 'Roboto', sans-serif;"><a href="https://www.linkedin.com/in/alexqxu/">LinkedIn</a></p>
                <p style="margin-top: 0; font-weight: 300; font-size: 1.1em; font-family: 'Roboto', sans-serif;"><a href="mailto:alex.xu@duke.edu">Email</a></p>
            </div>


        </div>
    </div>
</div>